<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Nuevo Cliente</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">
    <h3 class="center">Registro</h3>
    <br>
    <div class="row">
        <div class="section col s12 l6 offset-l3">
            <form action="#" method="post"
                  th:object="${customer}"
                  th:action="@{/customers/save}"
            >

                <div class="input-field">
                    <label for="userId">ID</label>
                    <input type="text" class="class-controller"
                           id="userId"
                           th:field="*{userId}"
                    >
                </div>

                <div class="input-field">
                    <label for="customerName">Nombre</label>
                    <input type="text" class="class-controller"
                           id="customerName"
                           th:field="*{customerName}"
                    >
                </div>

                <div class="input-field">
                    <label for="address">Direccion</label>
                    <input type="text" class="class-controller"
                           id="address"
                           th:field="*{address}"
                    >
                </div>

                <div class="input-field">
                    <label for="email">Email</label>
                    <input type="text" class="class-controller"
                           id="email"
                           th:field="*{email}"
                    >
                </div>

                <div class="input-field">
                    <label for="password">Contraseña</label>
                    <input type="password" class="class-controller"
                           id="password"
                           th:field="*{password}"
                    >
                </div>

                <div class="input-field">
                    <label for="creditCardInfo">Tarjeta</label>
                    <input type="text" class="class-controller"
                           id="creditCardInfo"
                           th:field="*{creditCardInfo}"
                    >
                </div>


                <button type="submit" class="btn">
                    Confirmar
                </button>
                <a th:href="@{/customers}" class="btn red lighten-1">Atras</a>

            </form>
        </div>
    </div>
</div>

<!--  Scripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>